# Find sum and average of List in Python

In [1]:
def sum_of_elements(my_lst):
    total=0
    for i in my_lst:
        total=total+i
    avg=total/len(my_lst)
    return total,avg
x=[4, 5, 1, 2, 9, 7, 10, 8]
sum_of_elements(x)

(46, 5.75)

In [2]:
import math
x=[4, 5, 1, 2, 9, 7, 10, 8]
sum(x)

46

# Sum of number digits in List

In [3]:
# input [12, 67, 98, 34], output[3,13,17,7]

In [4]:
def sum_of_digit(my_lst):
    lst=[]
    for i in my_lst:
        sum1=0
        for j in str(i): # converting int to string for looping on each digit in a single number 
            sum1=sum1+int(j) # converting str back to int  
        lst.append(sum1)
    return lst
sum_of_digit([12, 67, 98, 34])

[3, 13, 17, 7]

In [5]:
a=str(12)
for i in a:
    print(i) # type of i is still str that is why we converted it back to int as shown above

1
2

# Python program to find smallest number in a list

In [6]:
a=[12, 67, 34, 34,98,29,42]
a.sort()
a[0] # smallest number

12

In [7]:
def minimum(a):
    return min(a)
a=[12, 67, 34, 34,98,29,42]
minimum(a)

12

# Remove empty tuples from a list

In [8]:
tuples = [(), ('ram','15','8'), (), ('laxman', 'sita'), 
          ('krishna', 'akbar', '45'), ('',''),()]
a=[]
for i in tuples:
    if i:
        a.append(i)
print(a)

[('ram', '15', '8'), ('laxman', 'sita'), ('krishna', 'akbar', '45'), ('', '')]

In [9]:
tuples = [(), ('ram','15','8'), (), ('laxman', 'sita'), 
          ('krishna', 'akbar', '45'), ('',''),()]
list(filter(None,tuples))

[('ram', '15', '8'), ('laxman', 'sita'), ('krishna', 'akbar', '45'), ('', '')]